
html {
    height: 100%;
}

/* https://stackoverflow.com/questions/26372127/background-fixed-no-repeat-not-working-on-mobile */
body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url('dawn-daylight-small.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Helvetica', sans-serif;
    color: white;
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 3rem;
}

.content-table {
    height: 100%;
    width: 100%;
    font-size: 337.5%;
}

.quote-author {
    font-size: 70%;
}

.quote-btn {
    color: white;
    background-color: #B57AFF;
    border-radius: 250px;
}

@media (max-width: 575.98px) {
    .content-table {
    font-size: 175%;
    }
}

.loader {
    border: 16px solid white;
    border-top: 16px solid #B57AFF;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    animation: spin 0.75s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}